<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conociendo el Perú - Lugares</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header">
        <nav class="menu">
         <div class="logo-box">
           
           <span class="btn-menu"><i class="fas fa-bars"></i></span>
             <p id="logo" >Conocimiento Cultural Peruano</p>
         </div>
         
         <div class="list-container">
            <ul class="lists">
              <li><a href="index.html" class="active">Inicio</a></li>
                <li><a href="destinos.html">Destinos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="registrarse.html">registrate</a></li>
            </ul>
         </div>
        </nav>
        </header>
        <!-- Imagen Header -->
        <div class="img-index">
         <div class="welcome">
         </div>       
        </div>
        <div class="skew-abajo"></div>
        </header>

    <div class="card">
        <div class="profile-sidebard">
            <img class="profile-image" src="provincias/Ayabaca/aguas-medicinales.png" alt="Ayabaca">
        </div>
        <div class="profile-main">
            <h2 class="profile-name">Ayabaca</h2>
            <p class="profile-body">La provincia de Ayabaca es una de las ocho provincias que conforman el departamento de Piura en el Norte del Perú. Limita por el Norte y por el Este con la República del Ecuador; por el Sur con las provincias de Morropón y Huancabamba; y, por el Oeste con las provincias de Piura y Sullana.</p>
            <a id="button" class="btn btn-primary" href="ayabaca.html" role="button">Ver más</a>
        </div>
    </div>

    <div class="card">
        <div class="profile-sidebard">
            <img class="profile-image" src="provincias/Huancabamba/aypate.jpg" alt="Huancabamba">
        </div>
        <div class="profile-main">
            <h2 class="profile-name">Huancabamba</h2>
            <p class="profile-body">Huancabamba es una ciudad del noroeste del Perú, capital de la Provincia de Huancabamba, situada a en la vertiente oriental de la Cordillera de los Andes, a la margen derecha del río Huancabamba, afluente del río Chamaya.</p>
            <a id="button" class="btn btn-primary" href="huancabamba.html" role="button">Ver más</a>
        </div>
    </div>

    <div class="card">
        <div class="profile-sidebard">
            <img class="profile-image" src="provincias/Morropon/bosque-pedra-del-toro.jpg" alt="Morropon">
        </div>
        <div class="profile-main">
            <h2 class="profile-name">Morropon</h2>
            <p class="profile-body">Morropón es una ciudad peruana del departamento de Piura. Es capital del distrito de Morropón en la provincia del mismo nombre. Se encuentra a 80 kilómetros de la ciudad de Piura.</p>
            <a id="button" class="btn btn-primary" href="morropon.html" role="button">Ver más</a>
        </div>
    </div>

    <div class="card">
        <div class="profile-sidebard">
            <img class="profile-image" src="provincias/Paita/coñus.jpg" alt="Paita">
        </div>
        <div class="profile-main">
            <h2 class="profile-name">Paita</h2>
            <p class="profile-body">Paita es una ciudad peruana, capital de la provincia de Paita en el departamento de Piura, en el extremo Noroeste del Perú. Se encuentra ubicada a orillas del Océano Pacífico a 57 km de la ciudad de Piura. Posee el segundo puerto más importante del Perú después de El Callao.</p>
            <a id="button" class="btn btn-primary" href="paita.html" role="button">Ver más</a>
        </div>
    </div>

    <div class="card">
        <div class="profile-sidebard">
            <img class="profile-image" src="provincias/Piura/mancora.jpg" alt="Piura">
        </div>
        <div class="profile-main">
            <h2 class="profile-name">Piura</h2>
            <p class="profile-body">Piura es un departamento peruano ubicado al noroeste del país. Su capital y ciudad más poblada es la homónima Piura. Limita al norte con Tumbes y Ecuador, al este con Cajamarca, al sur con Lambayeque y al oeste con el océano Pacífico.</p>
            <a id="button" class="btn btn-primary" href="piura.html" role="button">Ver más</a>
        </div>
    </div>

    <div class="card">
        <div class="profile-sidebard">
            <img class="profile-image" src="provincias/Sechura/circuito-illescas.jpg" alt="Sechura">
        </div>
        <div class="profile-main">
            <h2 class="profile-name">Sechura</h2>
            <p class="profile-body">Sechura es una ciudad del Noroeste peruano capital del distrito y la provincia homónimos en el departamento de Piura. Se sitúa a unos 50 km. al sur de la ciudad de Piura en pleno desierto de Sechura.</p>
            <a id="button" class="btn btn-primary" href="sechura.html" role="button">Ver más</a>
        </div>
    </div>

    <div class="card">
        <div class="profile-sidebard">
            <img class="profile-image" src="provincias/Sullana/casona-sojo.jpg" alt="Sullana">
        </div>
        <div class="profile-main">
            <h2 class="profile-name">Sullana</h2>
            <p class="profile-body">Sullana es una ciudad peruana, capital del distrito de Sullana y de la provincia de Sullana en el departamento de Piura. Fue fundada en 1783 por Baltasar Jaime Martínez Compañón con el nombre de Santísima Trinidad de La Punta. Se ubica en la región de la Costa al norte del país.</p>
            <a id="button" class="btn btn-primary" href="sullana.html" role="button">Ver más</a>
        </div>
    </div>

    <div class="card">
        <div class="profile-sidebard">
            <img class="profile-image" src="provincias/Talara/punta-pariñas.jpg" alt="Talara">
        </div>
        <div class="profile-main">
            <h2 class="profile-name">Talara</h2>
            <p class="profile-body">Talara es una ciudad del Perú, capital del distrito de Pariñas​ y de la provincia de Talara​ en el departamento de Piura, ​ situada a orillas del océano Pacífico. Cuenta con una población estimada de 124 444 habitantes según el XII Censo de Población, VII de Vivienda y III de Comunidades Indígenas 2017.</p>
            <a id="button" class="btn btn-primary" href="talara.html" role="button">Ver más</a>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/35db202371.js"></script>
    <script src="js/script.js"></script>

</body>

</html>